<div class="showtimes">
    <h3 class="mt-3">Show time</h3>
    <div class="showtime" *ngFor="let mapEntry of grouped | keyvalue">
        <div class="showtime-date">{{ mapEntry.key |date: "EEE d MMM , y" }}</div>
        <div class="showtime-section">
            <ul>
                <li class="showtime-section-detail" *ngFor="let time of mapEntry.value">
                    <a style="cursor: pointer;" (click)="bookingSlot(time.maLichChieu)">
                        <time>{{ time.ngayChieuGioChieu | date: "hh:mm a" }} <span>2D</span></time>
                        <div class="cluster-cinema-name">{{time.thongTinRap.tenCumRap | shortcut:10}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>