.item-movie {
  position: relative;
  cursor: pointer;
  .overlay {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 10%;
    left: -7px;
    overflow: hidden;
    z-index: 10;
    width: 30%;
    height: 18%;
    opacity: 0;
    transition: linear 0.2s;
    border-radius: 0px 50px 50px 0px;
    .itemmovie-play-trailer {
      display: block;
      position: absolute;
      top: 10px;
      left: 15px;
      width: 100px;
      height: 100px;
      background: url("../../../../../assets/play.png");
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 99;
      transition: all 0.2s;
      cursor: pointer;
    }
  }

  &:hover {
    .overlay {
      animation: slideToRight 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      opacity: 1;
      .itemmovie-play-trailer {
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }

    .itemmovie-content .itemmovie-poster {
      transform: scale(1.05);
      opacity: 0.7;
    }
  }
  .itemmovie-content {
    .itemmovie-poster {
      transition: all 0.2s;
      display: block;
      width: 100%;
      height: 350px;
    }

    .itemmovie-title {
      display: block;
      margin-top: 16px;
      font-size: 20px;
      font-weight: bold;
      color: #e1e1e1;
    }
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
