.modal {
  .modal-dialog {
    .modal-content {
      position: relative;
      .close-form {
        position: absolute;
        right: -20px;
        top: -20px;
        border: 1px solid #fff;
        padding: 7px 10px;
        
        border-radius: 50%;
        .close {
          font-size: 30px;
          outline: none;
        }
      }
    }
  }
}
