<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000;">
    <a class="navbar-brand" href="#"><img src="https://angular.io/assets/images/logos/angular/angular.png" width="40" height="100%"
            alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/list-movie">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">News</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" style="background-color: #222; border:none; color:#fff; width: 320px"
                type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/list-movie">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Log In</a>
            </li>
        </ul>
    </div>
</nav>