<div class="checkout">
    <div class="screen-area">
        <img src="https://image.freepik.com/free-vector/interior-cinema-movie-theatre-with-shiny-white-blank-screen-red-cinema-theater-seats-front-screen-empty-cinema-auditorium-background-illustration_88272-1400.jpg"
            width="100%" height="25px" alt="screen">
    </div>
    <div class="slot-area container">
        <div class="d-flex row">
            <ng-container *ngFor="let item of slots; let index = index">
                <app-item-seat [ghe]="item" (chooseSeat)="chooseSeat($event)"></app-item-seat>
                <br *ngIf="(index + 1) % 4 === 0" />
            </ng-container>
        </div>
    </div>
    <div class="row sidebar">
        <div class="sidebar-left col-10">
            <div class="sidebar-item mr-5">
                <p class="item-title">Seat</p>
                <span class="item-content" *ngFor="let ghe of mangGheDangChon; let index = index">
                    Ghế: {{ ghe.giaVe }} VNĐ
                    <span style="color:red" (click)="huy(index, ghe)">[Hủy]</span>
                </span>
            </div>
            <div class="sidebar-item">
                <p class="item-title">Price</p>
                <p class="item-content">{{cost}} VNĐ</p>
            </div>
        </div>
        <div class="sidebar-right col-2">
            <button class="sidebar-button" (click)="datVe()">Checkout</button>
        </div>
    </div>
</div>